{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Give patient this key" %}{% endblock %}

{% block content %}
  <h1>{% trans "Give patient this key" %}</h1>
  <div id="big-code">
    <code>{{ code }}</code>
    {% include "includes/expires_string.html" %}
  </div>

  <details>
    <summary>
      <span>{% trans "Instructions for patient" %}</span>
    </summary>

    <div>
      <ol class="detailed-instructions">
        <li>
          <span>{% trans "Tap “Enter your one-time key”." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-1-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "Tap “Next” on “Let people know they may have been exposed”." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-2-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "Enter the key and tap “Submit”." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-3-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "If you want to notify people, you need to give COVID Alert permission to upload random codes. Tap “Agree” on “Now you can upload codes”." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-4-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "Tap “Share” on “Share your random codes from this device with COVID Alert?”." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-5-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "COVID Alert will ask permission to upload random codes daily for the next 13 days." %}</span>
        </li>
      </ol>
    </div>
  </details>

  <div class="content-button"><a href="{% url 'start' %}" role='button' draggable='false'>{% trans "Next patient" %}</a></div>
{% endblock %}
