{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Manage accounts" %}{% endblock %}

{% block content %}
  <h1>{% trans "Manage accounts" %}</h1>
  <div class="content-button">
      <a href="{% url 'invite' %}" role='button' draggable='false'>{% trans "Add an account" %}</a>
      <a href="{% url 'invitation_list' %}" role='button' draggable='false' class="secondary">{% trans "Check invitations" %}</a>
  </div>

  <table class="with-actions">
    <caption class="visually-hidden">{% trans "User accounts" %}</caption>
    <thead>
        <tr>
          <th scope="col">{% trans "Email address" %}</th>
          <th scope="col">{% trans "Permissions" %}</th>
          <th scope="col">{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
      {% for healthcareuser in healthcareuser_list %}
        <tr>
          <td><a href="{% url 'user_profile' healthcareuser.id %}">{{ healthcareuser.email }}</a></td>
          <td>
            <strong class="tag tag--{{ healthcareuser.is_admin|yesno:'green,grey' }}">
              {{ healthcareuser.is_admin|yesno:_("Admin,Staff") }}
            </strong>
          </td>
          <td>
          {% if not healthcareuser.is_superuser and healthcareuser.id != user.id %}
            <a href="{% url 'user_delete' healthcareuser.id %}" class="danger">
              {% trans "Remove" %}
            </a>
          {% endif %}
          </td>
        </tr>
      {% empty %}
        <p>{% trans "No users yet." %}</p>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
