{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Privacy" %}
{% endblock %}

{% block content %}
    {% include  "includes/error_list.html" %}

    <h1>{% trans "Privacy" %}</h1>
    {% blocktrans %}
        <p>The Government of Canada is committed to protect the privacy of its visitors on its websites. This privacy notice summarizes the privacy policy and practices of Canadian Digital Service websites, which are under the responsibility of the <a href="https://www.canada.ca/en/treasury-board-secretariat.html">Treasury Board of Canada Secretariat</a> (TBS).</p>
        <h2>Your privacy and the Internet</h2>
        <p>Specific personal information, such as your name, phone number or email address, is not automatically gathered. TBS would only obtain this type of information if you supply it by email or by registering in a secure portion of the site for a program or service (e.g. personal information provided voluntarily when you complete an online form or request for service).</p>
        <p>The nature of the Internet is such that Web servers automatically collect certain information about a visit to a website, including the visitor's Internet Protocol (IP) address. IP addresses are unique numbers assigned by Internet Service Providers (ISP) to all devices used to access the Internet. Web servers automatically log the IP addresses of visitors to their sites. The IP address, on its own, does not identify an individual. However, in certain circumstances, such as with the co-operation of an ISP for example, it could be used to identify an individual using the site. For this reason, the Government of Canada considers the IP address to be personal information, particularly when combined with other data automatically collected when a visitor requests a Web page such as the page or pages visited, date and time of the visit.</p>
        <p>In cases where services are provided by organisations outside of the Government of Canada, such as social media platforms, search or mobile applications, IP addresses may be recorded by the third-party service provider.</p>
        <p>All personal information created, held or collected by the Government of Canada is protected under the federal Privacy Act. At any point of collection, you will be asked for consent to collect your information or you will be advised of the authority for such collection. You will also be informed of the purpose for which the personal information is being collected, and how to exercise your right of access to, and correction of, that information. In such cases, how your personal information is handled is described in a Personal Information Collection Statement.</p>
        <p>Visitors' personal information is not usually disclosed to anyone except Government of Canada personnel who need the information to carry out their responsibilities. Any further disclosure of the personal information you provide would be in accordance with the federal <a href="https://laws-lois.justice.gc.ca/eng/acts/P-21/index.html">Privacy Act</a>.</p>
        <h2>Communicating with the Canadian Digital Service</h2>
        <p>If you choose to send an email to the Canadian Digital Service, your personal information may be used in order to respond to your inquiry. TBS does not use the information to create individual profiles. Any disclosure of your personal information is in accordance with the <a href="https://laws-lois.justice.gc.ca/eng/acts/P-21/index.html">Privacy Act</a>.</p>
        <p>Emails and other electronic methods used to communicate with the Government of Canada are not secure unless it is specifically stated on a Web page. Therefore, it is recommended that you do not send sensitive personal information, such as your Social Insurance Number or your date of birth, through non-secure electronic means.</p>
        <p>Personal information from emails is collected pursuant to section 7 of the Financial Administration Act. Such information may be used for statistical, evaluation and reporting purposes and is included in Personal Information Bank <a href="https://www.canada.ca/en/treasury-board-secretariat/services/access-information-privacy/access-information/information-about-programs-information-holdings.html#psu914">Public Communications (PSU 914)</a>.</p>
        <h2>Third-party social media</h2>
        <p>The Government of Canada's use of social media serves as an extension of its presence on the Web. Social media account(s) are public and are not hosted on Government of Canada servers. Users who choose to interact with the Government of Canada, including the Canadian Digital Service, via social media should read the terms of service and privacy policies of these third-party service providers and those of any applications used to access them.</p>
        <h2>Improving your experience on the Canadian Digital Service website</h2>
        <h3>Digital markers (including cookies)</h3>
        <p>A digital marker is a resource created by the visitors' browser in order to remember certain pieces of information for the Web server to reference during the same or subsequent visit to the website. Examples of digital markers are "cookies" or HTML5 web storage. Some examples of what digital markers do are as follows:</p>
        <ul>
            <li>they allow a website to recognize a visitor who has previously accessed the site;</li>
            <li>they track what content is viewed on a site which helps website administrators ensure visitors find what they are looking for.</li>
        </ul>
        <p>Canadian Digital Service websites use sessional and persistent digital markers on its websites. During your on-line visit, your browser exchanges data with the Canadian Digital Service’s Web server. The digital markers used do not allow the Canadian Digital Service website to identify individuals and do not contain personal information.</p>
        <p>You may adjust your browser settings to reject digital markers, including cookies, if you so choose. However, it may affect your ability to interact with the Canadian Digital Service website.</p>
        <h3>Web analytics</h3>
        <p>Web analytics is the collection, analysis, measurement, and reporting of data about Web traffic and visits for purposes of understanding and optimizing Web usage. Information in digital markers may be used in conjunction with computer request data to identify and track your online interactions with Canadian Digital Service websites.</p>
        <p>The Canadian Digital Service uses <a href="https://tools.google.com/dlpage/gaoptout?hl=en">Google Analytics</a> to improve its websites. When your computer requests a Web page, the following types of information are collected and used for Web analytics:</p>
        <ul>
            <li>the date and time of the request</li>
            <li>the type of browser used</li>
            <li>the page(s) visited</li>
            <li>referral website</li>
        </ul>
        <p>If you wish, you may opt out of being tracked by Google Analytics by disabling or refusing the cookies, or by using the Google Analytics Opt-Out Browser Add-On. If you disable your session cookie option, you will still be able to access our public website, but you might have difficulties accessing any secure services.</p>
        <p>Canadian Digital Service websites use log file analysis internally and retain information collected for Web analytics for a maximum period of 18 months. After this period, the information must be disposed of in accordance with the Standard on Privacy and Web Analytics or as authorized by the Librarian and Archivist of Canada. The information is not disclosed to an external third party service provider.</p>
        <p>Data collected for Web analytics purposes goes outside of Canada to Google servers and may be processed in any country where Google operates servers. Data may be subject to the governing legislation of that country (for example, the USA Patriot Act). For further information about Google Analytics, please refer to the <a href="https://policies.google.com/technologies/partner-sites">Google Analytics terms of service</a>.</p>
        <p>Information used for the purpose of Web analytics is collected pursuant to section 7 of the Financial Administration Act. Such data may be used for communications and information technology statistical purposes, audit, and evaluation, research, planning and reporting. For more information on how your privacy is safeguarded in relation to web analytics, see the Standard on Privacy and Web Analytics.</p>
        <h2>Protecting the security of Government of Canada websites</h2>
        <p>Software programs are used to monitor network traffic and to identify unauthorized attempts to upload or change information, or otherwise cause damage. When you visit Canadian Digital Service websites, these software programs automatically receive and temporarily store information supplied by your browser (for example, Internet explorer, Mozilla Firefox) in our Web server logs. Some of the information automatically collected by our server when you browse our websites includes:</p>
        <ul>
            <li>he network location and the Internet Protocol (IP) address of the computer you used to contact our website;</li>
            <li>he name of the domain you used to access the Internet (.com, .org, .net, .ca, etc.);</li>
            <li>he type of browser you used;</li>
            <li>he type of operating system you used (Windows, Mac OS, etc.)</li>
            <li>he date and time you accessed the site;</li>
            <li>he pages you have accessed and the documents you have downloaded; and</li>
            <li>the Internet address of the website from which you linked directly to our site, if applicable.</li>
        </ul>
        <p>In most circumstances, this is anonymous statistical data and no attempt is made to link this data, nor the IP addresses of the computers that have contacted our website, with the identity of individuals visiting our site unless an attempt to damage the site has been detected. The programs are never used to gather specific personal information such as your name, your phone number or your email address.</p>
        <p>When a threat to Canadian Digital Service websites or computer systems of the Government of Canada is detected, information is collected pursuant to <a href="https://laws-lois.justice.gc.ca/eng/acts/f-11/FullText.html#s-161.">section 161 of the Financial Administration Act</a>. The information may be shared with appropriate law enforcement authorities if suspected criminal activities are detected. Such information may be used for network security related statistical purposes, audit, evaluation, research, planning and reporting and is included in Personal Information Bank <a href="https://www.canada.ca/en/treasury-board-secretariat/services/access-information-privacy/access-information/information-about-programs-information-holdings.html#psu939">Security Incidents (PSU 939)</a>.</p>
        <h2>Inquiring about these practices</h2>
        <p>Any questions, comments, concerns or complaints you may have regarding this Statement, your privacy rights and the <a href="https://laws-lois.justice.gc.ca/eng/acts/P-21/index.html">Privacy Act</a> may be directed to the TBS Access to Information and Privacy Coordinator by email at <a href="mailto:ATIP.AIPRP@tbs-sct.gc.ca">ATIP.AIPRP@tbs-sct.gc.ca</a> or by telephone at 1-866-312-1511. You may also wish to contact the Office of the Privacy Commissioner of Canada by email at <a href="mailto:info@priv.gc.ca">info@priv.gc.ca</a> or by telephone at 1-800-282-1376. You have the right to complain to the Office of the Privacy Commissioner of Canada about the handling of your personal information by TBS.</p>
    {% endblocktrans %}

{% endblock %}
