{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Log in" %}
{% endblock %}

{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "Log in" %}</h1>

  {% include "includes/cds_form.html" with submit_text=_("Next") %}

  <div>
    <a href="{% url 'password_reset' %}">{% trans "Forgot your password?" %}</a>
  </div>
{% endblock %}
