{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Forgot your password?" %}
{% endblock %}

{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "Forgot your password?" %}</h1>
  <p>{% trans "We’ll send you an email to create a new password." %}</p>

  {% include "includes/cds_form.html" with submit_text=_("Send email") %}
{% endblock %}
