{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
  <h1>{% trans "Password reset complete" %}</h1>

  {% url 'login' as login_url %}
  <p>{% blocktrans  %}Your new password has been set. <a href="{{ login_url }}">Log in</a> with your new password.{% endblocktrans %}</p>
{% endblock %}
