{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Change your password" %}
{% endblock %}

{% block content %}
  {% if validlink %}

    {% include  "includes/error_list.html" %}

    <h1>{% trans "Change your password" %}</h1>

    {% include "includes/cds_form.html" with submit_text=_("Change password") %}

  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  {% endif %}
{% endblock %}
