{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Check your email" %}{% endblock %}

{% block content %}
  <h1>{% trans "Check your email" %}</h1>

  <p>{% trans "Use the link in your email to reset your password." %}</p>
{% endblock %}
