{% load i18n %}
{% load language_switcher %}
<nav class="nav--header" aria-label="{% trans 'Language and account navigation' %}">
  <ul>
    <li>
      {% get_current_language as LANGUAGE_CODE %}
      {% get_language_info for "en" as langEn %}
      {% get_language_info for "fr" as langFr %}

      <h2 class="visually-hidden">{% trans "Language selection" }</h2>
      <a href="{% get_href LANGUAGE_CODE %}">{% get_lang_title LANGUAGE_CODE langEn langFr %}</a>

    </li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'user_profile' user.id %}">{{ user.email }}</a></li>
      <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
    {% else %}
      <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
    {% endif %}
  </ul>
</nav>
