{% load i18n %}
<div class="phase-banner">
    <div>
        <strong class="tag tag--phase">ALPHA<span class="visually-hidden" >: </span></strong><span>{% trans 'This site will change as we test ideas.' %}</span>
    </div>
</div>
