{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Thank you for contacting us" %}
{% endblock %}


{% block content %}
    <h1>{% trans "Thank you for contacting us" %}</h1>
    <p>{% trans "We’ll reply as soon as possible." %}</p>
{% endblock %}
